{% extends '../layouts/slate.twig' %}

{% block title %}{% set channelname = channel.getName | escape %}{{ channelname }}{% endblock %}

{% block underbar %}
    <h1>{{ channelname }}</h1>
{% endblock %}

{# TODO: Topics #}

{% block slate %}
    <h2>Users</h2>
    {% for user in channel.getUsers %} {# TODO: Use getNicknames when it's fixed #}
        {# TODO: Style this #}
        <p>
            <strong>{{ user.getNick | escape }}</strong> is connected under the username {{ user.getUser | escape }}
            from the host {{ user.getHost | escape }}.
        </p>
    {% endfor %}
{% endblock %}
