{% extends 'layouts/slate.twig' %}

{% block title %}{{ nick }}{% endblock %}

{% block underbar %}
    <h1>{{ nick }} <small>{{ humanity.getVersion | escape }}</small></h1>
{% endblock %}

{% block slate %}
    <h2>Currently...</h2>
    <div class="stats">
        <div class="stat stat-1">
            <h1>{{ serverInfo.getNetworkName | default("an unknown network") }}</h1>
            network
        </div>
        {% set channels = channels.size %}
        <div class="stat stat-2">
            <h1>{{ channels }}</h1>
            {{ plural("channel", channels) }}
        </div>
        {% set games = games.size %}
        <div class="stat stat-3">
            <h1>{{ games }}</h1>
            {{ plural("game", games) }}
        </div>
        {% set packs = cardPacks.size %}
        <div class="stat stat-4">
            <h1>{{ packs }}</h1>
            {{ plural("pack", packs) }}
        </div>
    </div>
{% endblock %}
