{% extends 'layouts/slate.twig' %}

{% block title %}{{ nick }}{% endblock %}

{% block underbar %}
    <h1>{{ nick }} <small>{{ humanity.getVersion | escape }}</small></h1>
{% endblock %}

{% block slate %}
    <h2>Currently...</h2>
    <p>
        {{ nick }} is connected to
        <strong>{{ humanity.getBot.getServerInfo.getNetworkName | default("an unknown network") }}</strong>.
    </p>
    {% set channels = humanity.getBot.getChannels.size %}
    <p>
        {{ nick }} is residing in
        <strong>{{ channels }}</strong>
        {{ plural("channel", channels) }}.
    </p>
    {% set games = humanity.getGames.size %}
    <p>
        {{ nick }} is facilitating
        <strong>{{ games }}</strong>
        {{ plural("game", games) }}.
    </p>
    {% set packs = humanity.getLoadedCardPacks.size %}
    <p>
        {{ nick }} has
        <strong>{{ packs }}</strong>
        loaded card {{ plural("pack", packs) }}.
    </p>
{% endblock %}
