{% extends '../layouts/slate.twig' %}

{% block title %}{{ pack.getName | escape }}{% endblock %}

{% block underbar %}
    <h1>{{ pack.getName | escape }}{% if pack.getAuthor %} <small>by {{ pack.getAuthor | escape }}</small>{% endif %}</h1>
{% endblock %}

{% block slate %}
    <h2>Info</h2>
    {% if pack.getDescription %}
        <p>
            <em>{{ pack.getDescription | escape }}</em>
        </p>
    {% endif %}
    {% if pack.getID %}
        <p>
            This is a Cardcast pack. Its ID is
            <a href="http://www.cardcastgame.com/browse/deck/{{ pack.getID | escape }}">{{ pack.getID | escape }}</a>.
        </p>
    {% endif %}
    {% set whitecards = pack.getWhiteCards.size %}
    {% set blackcards = pack.getBlackCards.size %}
    {% set totalcards = whitecards + blackcards %}
    <p>
        This pack has a total of {{ totalcards }} {{ plural("card", totalcards) }}, {{ whitecards }}
        ({{ (whitecards / totalcards * 100) | number_format(2, '.', ',') }}%) of which
        {{ (whitecards == 1) ? "is a" : "are" }} white {{ plural("card", whitecards) }}, and {{ blackcards }}
        ({{ (blackcards / totalcards * 100) | number_format(2, '.', ',') }}%) of which
        {{ (blackcards == 1) ? "is a" : "are" }} black {{ plural("card", blackcards) }}.
    </p>
    <div class="columns">
        <div class="one-half column">
            <h2>Black cards</h2>
            {% for blackcard in pack.getBlackCards %}
                <p>
                    {{ blackcard | escape }}
                </p>
            {% endfor %}
        </div>
        <div class="one-half column">
            <h2>White cards</h2>
            {% for whitecard in pack.getWhiteCards %}
                <p>
                    {{ whitecard | escape }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
