{% extends '../layouts/slate.twig' %}

{% block title %}{{ pack.getName | escape }}{% endblock %}

{% block underbar %}
    <h1>{{ pack.getName | escape }}{% if pack.getAuthor %} <small>by {{ pack.getAuthor | escape }}</small>{% endif %}</h1>
{% endblock %}

{% block slate %}
    <h2>Info</h2>
    {% if pack.getDescription %}
        <p>
            <em>{{ pack.getDescription | escape }}</em>
        </p>
    {% endif %}
    {% set whitecards = pack.getWhiteCards.size %}
    {% set blackcards = pack.getBlackCards.size %}
    {% set totalcards = whitecards + blackcards %}
    <div class="stats">
        <div class="stat stat-1">
            <h2>{{ totalcards }}</h2>
            total cards
        </div>
        <div class="stat stat-2">
            <h2>{{ whitecards }} ({{ (whitecards / totalcards * 100) | number_format(2, '.', ',') }}%)</h2>
            white cards
        </div>
        <div class="stat stat-3">
            <h2>{{ blackcards }} ({{ (blackcards / totalcards * 100) | number_format(2, '.', ',') }}%)</h2>
            black cards
        </div>
        {% if pack.getID %}
            <div class="stat stat-4">
                <h2><a href="http://www.cardcastgame.com/browse/deck/{{ pack.getID | escape }}">{{ pack.getID | escape }}</a></h2>
                Cardcast ID
            </div>
        {% endif %}
    </div>
    <div class="columns">
        <div class="one-half column">
            <h2>Black cards</h2>
            {% for blackcard in pack.getBlackCards %}
                <p>
                    {{ blackcard | escape }}
                </p>
            {% endfor %}
        </div>
        <div class="one-half column">
            <h2>White cards</h2>
            {% for whitecard in pack.getWhiteCards %}
                <p>
                    {{ whitecard | escape }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
