{% extends '../../layouts/three-columns.twig' %}

{% block title %}{{ pack.getName | escape }}{% endblock %}

{% block left %}
    <h1>{{ pack.getName | escape }}</h1>
    <table class="table table-striped">
        <caption><h2>Info</h2></caption>
        {% if pack.getDescription %}
        <tr>
            <td>Description</td>
            <td>{{ pack.getDescription | escape }}</td>
        </tr>
        {% endif %}
        {% if pack.getAuthor %}
        <tr>
            <td>Author</td>
            <td>{{ pack.getAuthor | escape }}</td>
        </tr>
        {% endif %}
        {% if pack.getID %}
        <tr>
            <td>Cardcast ID</td>
            <td>{{ pack.getID | escape }}</td>
        </tr>
        {% endif %}
        {% set totalcards = pack.getWhiteCards.size + pack.getBlackCards.size %}
        <tr>
            <td>Cards</td>
            <td>{{ totalcards }}</td>
        </tr>
        <tr>
            <td>White cards</td>
            <td>{{ pack.getWhiteCards.size }} ({{ (pack.getWhiteCards.size / totalcards * 100) | number_format(2, '.', ',') }}%)</td>
        </tr>
        <tr>
            <td>Black cards</td>
            <td>{{ pack.getBlackCards.size }} ({{ (pack.getBlackCards.size / totalcards * 100) | number_format(2, '.', ',') }}%)</td>
        </tr>
    </table>
{% endblock %}

{% block middle %}
    <h2>Black cards</h2>
    {% for blackcard in pack.getBlackCards %}
    <p>
        {{ blackcard | escape }}
    </p>
    {% endfor %}
{% endblock %}

{% block right %}
    <h2>White cards</h2>
    {% for whitecard in pack.getWhiteCards %}
    <p>
        {{ whitecard | escape }}
    </p>
    {% endfor %}
{% endblock %}
